name: test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    name: test on ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: ruby/setup-ruby@master
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: gem install bundler
    - run: bundle install
    - run: bundle exec rake
    - run: bundle exec overcommit --sign
    - env:
        GIT_AUTHOR_NAME: John Doe
        GIT_AUTHOR_EMAIL: johndoe@example.com
      run: bundle exec overcommit --run
    strategy:
      matrix:
        ruby: ['3.2', '3.3', '3.4']
